a {
	cursor: pointer !important;
}
a.logout:hover {
    text-decoration: underline !important;
    background: white !important;
}
.line-dashed {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.mate-score {
	margin-top: 0; 
	width: 60px; 
	display: inline-block;
}
.mate-score label, .mate-score input {
	cursor: pointer;
}
#fillin-section > .col-sm-6 {
	padding-left: 0 !important;
}
