<!-- 使用ng-model代替使用name方式获取数据 -->
<div class="m-b-md">
 	<h3 class="m-b-none" style="font-size: 20px;">{{project_name}}</h3>
 	<small>{{project_intro}}</small>
</div>
<div id="fillin-section" style="margin-top: 15px;" class="clearfix">
	<div class="col-sm-6">
		<section class="panel panel-default">
			<header class="panel-heading h4">项目综述</header>
			<div class="panel-body">
				<div class="form-group">
					<label>总体情况</label>
					<textarea class="form-control" rows="2" ng-model="generalCondition"></textarea>
				</div>
				<div class="form-group">
					<label>延期情况</label>
					<textarea class="form-control" rows="1" placeholder="无" ng-model="delayCondition"></textarea>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6">
		<section class="panel panel-default">
			<header class="panel-heading h4">项目周例会</header>
			<div class="panel-body" style="height: 194px;">
				<div class="form-group">
					<label>例会记录</label>
					<textarea class="form-control" rows="3" ng-model="weekMeeting"></textarea>
				</div>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
	<div class="line line-dashed line-lg pull-in"></div>
	<div class="col-sm-6">
		<section class="panel panel-default">
			<header class="panel-heading h4">
				<a ng-click="addActivity()" class="pull-right"><i class="fa fa-plus icon-muted"></i></a>
				<span>活动描述</span>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label>活动</label>
					<textarea class="form-control" rows="1" ng-model="adActivity"></textarea>
				</div>
                <div class="form-group pull-in clearfix">
               		<div class="col-sm-6">
	                	<label>状态描述</label>
	                 	<input type="text" class="form-control" ng-model="adState">
	                </div>
	                <div class="col-sm-6">
	                	<label>责任人</label>
	                 	<input type="text" class="form-control" ng-model="adDutyMan">
	                </div>
                </div>
                <div class="form-group">
					<label>备注</label>
					<textarea class="form-control" rows="1" placeholder="无" ng-model="adRemark"></textarea>
				</div>
			</div>
		</section>	
	</div>
	<div class="col-sm-6" ng-repeat="more in moreActivities track by $index">
		<section class="panel panel-default">
			<header class="panel-heading h4">
				<a class="pull-right" ng-click="delActivity($index)"><i class="fa fa-times icon-muted"></i></a>
				<span>活动描述{{$index+2}}</span>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label>活动</label>
					<textarea ng-model="moreActivities[$index].activity" class="form-control" rows="1"></textarea>
				</div>
                <div class="form-group pull-in clearfix">
               		<div class="col-sm-6">
	                	<label>状态描述</label>
	                 	<input ng-model="moreActivities[$index].state" type="text" class="form-control">
	                </div> 	
	                <div class="col-sm-6">
	                	<label>责任人</label>
	                 	<input ng-model="moreActivities[$index].dutyMan" type="text" class="form-control">
	                </div>
                </div>
                <div class="form-group">
					<label>备注</label>
					<textarea ng-model="moreActivities[$index].remark" class="form-control" rows="1" data-minwords="6"></textarea>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6">
		<section class="panel panel-default">
			<header class="panel-heading h4">下周活动计划</header>
			<div class="panel-body">
				<div class="form-group">
					<label>活动</label>
					<textarea class="form-control" rows="1" ng-model="npActivity"></textarea>
				</div>
                <div class="form-group pull-in clearfix">
               		<div class="col-sm-6">
	                	<label>状态描述</label>
	                 	<input type="text" class="form-control" ng-model="npState">
	                </div> 	
	                <div class="col-sm-6">
	                	<label>责任人</label>
	                 	<input type="text" class="form-control" ng-model="ngDutyMan">
	                </div>
                </div>
                <div class="form-group">
					<label>备注</label>
					<textarea class="form-control" rows="1" ng-model="ngRemark"></textarea>
				</div>
			</div>
		</section>	
	</div>
	<div class="col-sm-6" ng-repeat="more in moreNextActivities track by $index">
		<section class="panel panel-default">
			<header class="panel-heading h4">
				<a class="pull-right" ng-click="delNextActivity($index)"><i class="fa fa-times icon-muted"></i></a>
				<span>下周活动描述{{$index+2}}</span>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label>活动</label>
					<textarea ng-model="moreNextActivities[$index].activity" class="form-control" rows="1"></textarea>
				</div>
                <div class="form-group pull-in clearfix">
               		<div class="col-sm-6">
	                	<label>状态描述</label>
	                 	<input ng-model="moreNextActivities[$index].state" type="text" class="form-control">
	                </div> 	
	                <div class="col-sm-6">
	                	<label>责任人</label>
	                 	<input ng-model="moreNextActivities[$index].dutyMan" type="text" class="form-control">
	                </div>
                </div>
                <div class="form-group">
					<label>备注</label>
					<textarea ng-model="moreNextActivities[$index].remark" class="form-control" rows="1"></textarea>
				</div>
			</div>
		</section>	
	</div>
	<div class="clearfix"></div>
	<div class="line line-dashed line-lg pull-in"></div>
	<div class="col-sm-6">
		<section class="panel panel-default">
			<header class="panel-heading h4">
				<a ng-click="addProblem()" class="pull-right"><i class="fa fa-plus icon-muted"></i></a>
				<span>项目问题追踪</span>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label>问题描述</label>
					<textarea class="form-control" rows="1" ng-model="ptDescription"></textarea>
				</div>
                <div class="form-group">
					<label>当前解决方案</label>
					<textarea class="form-control" rows="1" ng-model="ptSolution"></textarea>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6" ng-repeat="more in moreProblems track by $index">
		<section class="panel panel-default">
			<header class="panel-heading h4">
				<a class="pull-right" ng-click="delProblem($index)"><i class="fa fa-times icon-muted"></i></a>
				<span>项目问题追踪{{$index+2}}</span>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<label>问题描述</label>
					<textarea ng-model="moreProblems[$index].description" class="form-control" rows="1"></textarea>
				</div>
                <div class="form-group">
					<label>当前解决方案</label>
					<textarea ng-model="solution" class="form-control" rows="1"  ng-model="moreProblems[$index].solution"></textarea>
				</div>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
	<div class="line line-dashed line-lg pull-in"></div>
	<div class="col-sm-6">
		<section class="panel panel-default">
			<header class="panel-heading h4">备注</header>
			<div class="panel-body">
				<div class="form-group">
					<label>备注</label>
					<textarea class="form-control" rows="1"></textarea>
				</div>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
	<div class="line line-dashed line-lg pull-in"></div>
	<div class="col-sm-12 clearfix">
		<div class="col-sm-6" style="padding: 0 15px 0 0;">
			<section class="panel panel-default">
				<header class="panel-heading h4">组员评价</header>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="mate in mates">
						<div>
							<label>{{mate.name}}</label>
							<div class="row" style="margin: 5px 5px;">
								<div class="mate-score">
									<label>
										<input type="radio" ng-model="mate.contribute" name="{{mate.name}}" value="3">&nbsp;超额
									</label>
								</div>
								<div class="mate-score">
									<label>
										<input type="radio" ng-model="mate.contribute" name="{{mate.name}}" value="2">&nbsp;基本
									</label>
								</div>	
								<div class="mate-score">
									<label>
										<input type="radio" ng-model="mate.contribute" name="{{mate.name}}" value="1">&nbsp;不足
									</label>
								</div>		
							</div>
							<input type="text" ng-model="mate.remark" class="form-control" placeholder="评价">
						</div>
					</li>
				</ul>
			</section>	
		</div>
	</div>
</div>

<div style="margin-bottom: 20px;" class="clearfix">
	<div class="col-sm-6">
		<button type="button" class="btn btn-success btn-s-xs" ng-click="submitReport()">提交</button>
	</div>
</div>