<section class="vbox">
    <header class="bg-white dk header navbar navbar-fixed-top-xs" style="border-bottom: 1px solid rgba(0, 0, 0, .1);">
        <div class="bg-dark navbar-header aside-md">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="navbar-brand" data-toggle="fullscreen">
                <span style="color: white">LOGO DIAN</span>
            </a>
            <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
                <i class="fa fa-cog"></i>
            </a>
        </div>
        <ul  class="nav navbar-nav navbar-right hidden-xs nav-user">
            <li>
                <span style="padding: 15px 0"><span>Hi,&nbsp;</span>{{username}}</span>
                <span style="padding: 15px 3px">/</span>
                <a class="logout" style="padding: 15px 10px 15px 0; display: inline-block; color: #717171;">logout</a>
            </li>
        </ul>
    </header>
    <section>
        <section class="hbox stretch">
            <aside class="bg-dark lter aside-md hidden-print" id="nav" ng-controller="SiderCtrl">
                <section class="vbox">
                    <nav class="nav-primary hidden-xs">
                        <ul class="nav">
                            <li ng-class="{'active': isActive('#/fillin')}">
                                <a href="#/fillin">
                                    <i class="fa fa-dashboard icon"><b class="bg-danger"></b></i>
                                    <span>填写周报</span>
                                </a>
                            </li>
                            <li ng-class="{'active': isActive('#/manageMate')}">
                                <a ui-sref="manageMate">
                                    <i class="fa fa-dashboard icon"><b class="bg-danger"></b></i>
                                    <span>管理组员</span>
                                </a>
                            </li>
                            <li ng-class="{'active': isActive('#/history')}">
                                <a ui-sref="history">
                                    <i class="fa fa-dashboard icon"><b class="bg-danger"></b></i>
                                    <span>提交历史</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </aside>
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder" ui-view="section@">
                    </section>
                </section>
            </section>        
        </section>  
    </section>
</section> 