
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
<meta charset="utf-8" />
<title>点周报系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="css/font.css" type="text/css" cache="false" />
</head>
<body>
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
  <div class="container aside-xxl"> <a class="navbar-brand block" href="index.html">点周报系统</a>
    <section class="panel panel-default bg-white m-t-lg">
      <header class="panel-heading text-center"> <strong>Sign in</strong> </header>
      <form action="index.html" class="panel-body wrapper-lg">
        <div class="form-group">
          <label class="control-label">喻信ID</label>
          <input type="text" ng-model="username" placeholder="喻信" class="form-control input-lg">
        </div>
        <div class="form-group">
          <label class="control-label">密码</label>
          <input type="password" ng-model="password" placeholder="Password" class="form-control input-lg">
        </div>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox">
            Keep me logged in </label>
        </div> -->
        <button type="button" class="btn btn-primary" ng-click="login()">Sign in</button>
        <div class="line line-dashed"></div>
      </form>
    </section>
  </div>
</section>
<!-- footer -->
<footer id="footer">
</footer>
<!-- / footer --> 
<script src="js/app.v2.js"></script>
</body>
</html>
